@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* 
    verde: #46bd74
    azul: #62a6e6
    azul escuro: #323f8c
*/

body {
    background-color: rgb(14, 14, 51);
    font-family: 'Roboto', sans-serif;
}

* {
    outline: none;
}

h1 {
    margin: 50px;
    color: #323f8c;
    text-align: center;
}

form {
    display: flex;
    position: relative;
    margin: 30px auto;
    margin-bottom: 60px;
    width: 600px;
    height: 60px;
}

input {
    display: flex;
    width: 100vw;
    background-color: #20264b;
    color: white;
    border: none;
    padding-left: 20px;
    border-radius: 10px;
}

input::placeholder {
    color: #46bd74;
}

button.add {
    position: absolute;
    right: 0;
    border-radius: 0px 10px 10px 0px;
    border: none;
    background-color: #46bd74;
    color: white;
    padding: 10px 25px;
    height: 60px;
    cursor: pointer;
}

button.add:hover {
    color: rgb(255, 255, 255);
    background-color: #348d56;
    transition: 0.5s;
}



.listTarefas {
    display: flex;
    justify-content: space-between;
    margin: auto;
    flex-flow: column wrap;
    width: 600px;
}

button.del {
    border-radius: 0px 10px 10px 0px;
    border: none;
    background-color: #323f8c;
    color: white;
    width: 90px;
    height: 60px;
    cursor: pointer;
}

.del:hover {
    background-color: #4150a1;
    transition: 0.4s;
}

.item {
    display: flex;
    justify-content: space-between;
    border: 1px solid #20264b;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;

    & span {
        color: white;
        width: 100%;
        padding: 20px;
    }

}

.item:hover {
    background-color: #46bd74;
    transition: 0.4s;
}

.item.marcado {
    display: flex;
    justify-content: space-between;
    background-color: #348d56;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    opacity: 0.2;
}

.item.marcado span {
    font-style: italic;
    text-decoration: line-through;
    color: #ffffff;
    width: 100%;
    padding: 20px;
}

button.delAll {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    border: none;
    background-color: rgb(14, 14, 51);
    color: rgb(244, 102, 51);
    border: 2px solid rgb(244, 102, 51);
    border-radius: 10px;
    width: 120px;
    height: 40px;
    cursor: pointer;
}

.delAll:hover {
    background-color: rgb(244, 102, 51);
    color: white;
    transition: 0.5s;
}


.icone {
    max-width: 100%;
}

@media screen and (max-width: 900px) {
    form {
        width: 95%;
    }

    .listTarefas {
        width: 95%;
    }
}